/*background-color: #ff8812;*/

.btn-wrapper {
  display: flex;
  border:  2px dashed #ff8812;
  height: 250px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background: url('./order.png') no-repeat center center;
  background-size: 600px 250px;
  background-color: #FFFFFF;
}
.btn {
  letter-spacing: 2px;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 5px 30px;
  background-color: #ff8812;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.btn:hover{
  border: 2px solid #ff8812;
  color: #ff8812;
  background-color: #fff;
}
.watch-item-btn {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.watch-item-btn:hover {
  background-color: #ff8812;
  color: #fff;
}
button:focus {outline:0!important;}
.add-watch-list-wrapper {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #f0f6fa;
  min-width: 200px;
}
.input-btn {
  margin-left: 5px;
  text-align: center;
  display: inline-block;
  height: 32px;
  line-height: 3px;
}
.input-btn-delete {
  float: right;
  justify-self: auto;
}
.btn-refresh {
  background-color: transparent!important;
  color: #ff8812!important;
}
.refresh-icon{
  padding: 0 5px;
  width: auto!important;
}
.spin {
  transition: all;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

