/*background-color: #ff8812;*/
@import "~reactjs-popup/dist/index.css";

.btn {
  display: inline-block;
  font-size: 14px;
  padding: 8px 20px;
  background-color: var(--main-color);
  line-height: 1em;
  color: #fff;
  font-weight: 500;
  border: 2px solid var(--main-color);
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.btn:hover{
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
}

.btn.disabled, .btn.disabled:hover {
  color: white;
  background-color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.btn2 {
  background-color: unset;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn2:hover {
  border: 2px solid var(--main-color);
  color: #fff;
  background-color: var(--main-color);
}

.watch-item-btn {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  width: 90px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 2px;
}
.watch-item-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
button:focus {outline:0!important;}
.add-watch-list-wrapper {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #f0f6fa;
  min-width: 200px;
}
.input-btn {
  margin-left: 5px;
  text-align: center;
  display: inline-block;
  height: 32px;
  line-height: 3px;
}
.input-btn-delete {
  float: right;
  justify-self: auto;
}
.btn-refresh {
  background-color: transparent!important;
  color: var(--main-color)!important;
}
.refresh-icon{
  padding: 0 5px;
  width: auto!important;
}
.spin {
  transition: all;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.file-info {
  padding-left: 20px;
  color: red;
  font-size: 14px;
}
.watch-list-header {
  color: #4e4e4e;
  font: 1em "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
}
.watch-list-header .icon {
  color: #262828;
}
.nodata {
  width: 100%;
  height: 50vh;
  background: url('./nodata.png') no-repeat center center;
  background-size: 600px auto;
}
.comingsoon- {
  width: 100%;
  height: 100vh;
  background: url('./comingsoon-en.svg') no-repeat center center;
  background-size: 600px auto;
}
.comingsoon-zh {
  width: 100%;
  height: 100vh;
  background: url('./comingsoon-zh.svg') no-repeat center center;
  background-size: 600px auto;
}
.comingsoon- {
  width: 100%;
  height: 100vh;
  background: url('./comingsoon-en.svg') no-repeat center center;
  background-size: 600px auto;
}
.comingsoon-zh {
  width: 100%;
  height: 100vh;
  background: url('./comingsoon-zh.svg') no-repeat center center;
  background-size: 600px auto;
}
.orderList-header {
  font-size: 14px;
  padding: 10px 0;
}
.orderList-header h3{
  font-size: 16px;
  display: inline-block;
}
.ui.modal > .header:not(.ui) {
  text-transform: none!important;
}
.copy-btn {
  color: #f5f3f1;
  background-color: transparent!important;
  display: inline-block;
}
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.my-popup-content {
  padding: 20px;
  margin: auto;
  background: #f5f3f1;
  border: none;
  box-shadow: 2px 3px 16px 0px rgba(0,0,0,0.52);
}
.my-popup-arrow {
  color: #fbf9f6;
}
[role='tooltip'].my-popup-content {
  width: 300px;
  box-shadow: 2px 3px 16px 0px rgba(0,0,0,0.52);
}
[role='tooltip'].popup-content {
  display: inline-block;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}
.no-border {
  border: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
.custom-icon {
  display: inline-block;
  width: 16px;
  color: #4e4e4e;
  fill-opacity: 1;
  fill: #4e4e4e;
  font-size: 16px;
}
.custom-icon-color {
  fill: var(--main-color);
  color: var(--main-color);
}

.gray-fill {
  fill-opacity: 0.25;
}
.grayColor {
  opacity: 0.25;
}

.uploadBtn,
.uploadBtnDisabled {
  position: relative;
  padding: 5px 0;
}
.uploadBtn:hover .uploadMenu {
  display: block;
}
.uploadBtnDisabled:hover .uploadMenu {
  display: none;
}

.uploadMenu {
  z-index: 200;
  display: none;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  line-height: 40px;
}

.uploadMenu .menuItem {
  cursor: pointer;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.uploadMenu .menuItem:hover {
  background-color: var(--bg-page);
}
